.stages__content {
  width: 100%;
}

.stages__slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, auto));
  grid-template-areas:
    'item-1 item-2 item-3'
    'item-4 item-5 item-3'
    'item-6 item-7 item-7';
  gap: 20px;
  overflow-x: scroll
}

.item {
  /* outline: 1px solid black; */
  padding: 20px;
  display: flex;
  gap: 16px;
  align-items: start;
  background: var(--section-background_color);
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.item-5 {
  grid-area: item-5;
  grid-row-end: span 1;
}

.item-6 {
  grid-area: item-6;
}

.item-7 {
  grid-area: item-7;
}

@media screen and (max-width: 768px) {
  .stages__slider {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, minmax(300px,auto));
    grid-template-areas:
      'item-1 item-3 item-4 item-6 item-7'
      'item-2 item-3 item-5 item-6 item-7';
    gap: 0 20px;
  }

  .item-4.item-5 {
    grid-row-end: span 1;
  }
}

.mobile-controls {
  display: none;
}

.mobile-controls button {
  width: 36px;
  height: 36px;
  background-size: 30%;
}

@media screen and (max-width: 768px) {
  .mobile-controls {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

.mobile-controls button:first-child {
  transform: rotate(-180deg);
}

.mobile-dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--dot-bg-color);
}

.dot.active {
  background-color: var(--secondary-text-color);
}